.cart-menu{
    position: fixed;
    top: 0;
    right: 0;
    width: 25%;
    height: 100vh;
    background-color:$first-color;
    z-index: 3;

    @media(max-width: 860px ){
        width: 40%;
    }

    @media(max-width: 700px ){
        width: 50%;
    }

    .empty-cart {
        color: $main-color;
        text-align: center;
        margin-top: 40px;
    }
    .cart-list {
        height: 75vh;
        overflow: auto;
        margin-top: 5vh;
        padding: 15px;

        .cart-block {
            border-top: 1px solid darken($first-color, 20%);
            position: relative;
            padding: 25px 10px 10px 10px;

            .remove-btn {
                //button file
            }

            .cart-block-top {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: flex-start;

                .cart-elipsis {
                    color: $main-color;
                    font-size: 12px;
                    width: 70%;
                
                    
                }

                .price {
                    color: $secondary-color;
                    
                }

            }

            
            .amount {
                color: lighten($first-color, 25%);
                width: 100%;
                text-align: start;
                padding: 5px 0;
            }

            .amount-control {
                width: 100%;
                text-align: end;

                
            }


        }
    }
    .cart-bottom{
        padding: 20px;
        height: 20vh;
        box-shadow: 10px 1px 10px 3px darken($first-color, 20px);
        overflow: hidden;

        .totals{
            margin: 10px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            h4{
                text-transform: uppercase;
                font-size: 12px;
                font-weight: 200;
                color: lighten($first-color, 25%)
            }
            h3 {
                color: $secondary-color;
                font-weight: 200;
            }

        }
      
        .checkout {
            display: inline-block;
            text-align: center;
            // width: calc(100% - 20px);
            width: 100%;
            // margin: 10px;
            background-color: darken($first-color, 20%);
            color: $main-color;
            padding: 10px 0;
        }

    }

   
}