.item-block {
    margin-top: 30px;
    grid-column: 2/3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media(max-width: 680px){
        flex-direction: column;
    }

    img {
        min-width: 320px;
        height: 320px;
        object-fit: contain;
        object-position: center;

        @media(max-width: 680px) {
            width: 220px;
            height: 220px;
        }
        @media(max-width: 400px) {
            width: 150px;
            height: 150px;
        }
    }

    .item-right {
        padding-top: 40px;
        padding-left: 80px;
        @media(max-width: 1300px) {
            padding-left: 60px;
        }
        @media(max-width: 680px) {
            padding-left: 20px;
        }
        @media(max-width: 400px) {
            text-align: center;
            padding: 20px;
        }

        h1 {
           font-size: 2.0rem;
           font-weight: 700;
           margin-bottom: 20px;

           @media(max-width: 400px) {
               padding-top: 20px;
           }
            
        }

        .price {
            font-size: 2.0rem;
            font-weight: 700;
        }
    
        h3.description {
            margin-top: 80px;
            margin-bottom: 20px;
            position: relative;
            display: inline-block;
            width: 100%;
            font-size: 1.6rem;
            font-weight: 700;
            @media(max-width: 680px) {
                margin-top: 20px;
            }

            &::before {
                content: "";
                width: 90%;
                top: -40px;
                margin: 0 5%;
                height: 1.1px;
                background-color: lighten($first-color, 75%);
                position: absolute;
                @media(max-width: 680px) {
                   display: none;
                }
            }
        }

        p.description {
            display: inline-block;
            width: 100%;
            font-size: 1.2rem;   
        }

        button.btn {
            width: auto;
            padding: 15px 20px;
            text-transform: uppercase;
            margin-top: 20px;
            @media(max-width: 680px){
                padding: 10px 15px;
            }
        }

        button.btn.back {
            float: right;  
            @media(max-width: 400px) {
                margin-top: 40px;
                float: unset;
            }        
        }
    } 
}