.store-page {
   

    .page-top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 20px;
        grid-column: 2/3;
        .sort {
            label {

            }
            select {
                
                option {

                }
            }
        }
        
        h6 {

        }

    }

    // .wrapper{
        
        

        .items-container{
            
            grid-column: 2/3;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            


                .item-card {
                    grid-column: auto / span 3;
                    
                    height: 440px;
                    padding: 10px;
                    margin: 30px 10px 10px 10px;
                   
                    text-align: center;

                    @media(max-width: 1300px){
                        grid-column: auto / span 4;
                    }
                    @media(max-width: 1080px){
                        grid-template-columns: 1fr 780px 1fr;
                    }
                    @media(max-width: 860px){
                        grid-column: auto / span 6;
                    }
                    @media(max-width: 680px){
                        grid-column: auto / span 12;
                    }
                    img {
                       width: 220px;
                        height: 300px;
                        object-fit: contain;
                        object-position: center;
                        transition: all 0.3s;
                        opacity: 0.8;
                    }

                    img:hover {
                        transform: scale(1.05);
                        opacity: 1;
                    }
                    .elipsis {
                        width: 220px;
                        height: 50px;
                        margin: 10px auto;
                    }
                    h5.price {
                        margin-bottom: 10px;
                        font-size: 20px;

                        &::before {
                            content: "$ ";
                            font-size: 0.6em;
                        }

                        u {
                            font-size: 0.6em;
                        }
                        
                    }
                }
            

        }

    // }
}