a{
    text-decoration: none;
    color: $first-color;
}

a:hover{
    cursor: pointer;
    color: lighten($first-color, 30%);
}

.error-msg {
    margin: 30px;
    
}

.loading-msg {
    margin: 30px;
}

u {
    text-decoration: none;
}

.not-found {
    margin: 50px;
    font-size: 44px;
}

