.main-block {
    display: grid;
    margin: 30px 0;
    grid-template-columns: 1fr 1200px 1fr;
    @media(max-width: 1300px){
        grid-template-columns: 1fr 980px 1fr;
    }
    @media(max-width: 1080px){
        grid-template-columns: 1fr 780px 1fr;
    }
    @media(max-width: 860px){
        grid-template-columns: 1fr 640px 1fr;
    }
    @media(max-width: 700px){
        grid-template-columns: 20px 1fr 20px;
    }
    @media(max-width: 400px){
        grid-template-columns: 10px 1fr 10px;
        margin: 0;
}
}